<div class="container">
	<div class="row">
		<ul class= "nav nav-list">
			<li class="nav-header"> List Header</li>
			<li><%= link_to "Categories list", categories_path %></li>
			<li><%= link_to "Products list", products_path %></li>
		</ul>
	</div>
</div>
